@use "../../../styles/variables/" as *;

.container {
  display: grid;
  position: absolute;
  z-index: 2;
  height: 15vh;
  width: 100%;
  grid-template-columns: 45% 10% 45%;
  color: $color-primary-3;
}
