@use "../../../styles/variables/index";

.envelop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.size {
  width: 4rem;
  height: 4rem;
}

.dots {
  width: 2rem;
  height: 2rem;
}
