@font-face {
  font-family: "courier";
  src: url("../../assets/font/Courier-BOLD.ttf");
}

$font-family-main: "courier", monospace;

$font-size-m: 1.8rem;
$font-size-s: 1.4rem;

$font-weight-regular: 200;
$font-weight-bold: 700;
