@use "../../../styles/variables/index" as *;

.button {
  font-family: inherit;
  padding-left: $spacing-xxs;
  padding-right: $spacing-xxs;
  padding-top: $spacing-xxxxxs;
  padding-bottom: $spacing-xxxxxs;
  background-color: $color-primary-2;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-3;
    color: $color-primary-1;
    transition: all 0.3s;
  }
}

// .padding-s {
//   padding: $spacing-xxxxs $spacing-xxs $spacing-xxxxs $spacing-xxs;
// }
