@use "../../../../styles/variables/index" as *;

.title {
  font-size: $font-size-m;
  padding: $spacing-xxxxs;
  color: $color-primary-1;
  background-color: rgba($color-primary-3, 0.7);
  position: absolute;
  z-index: 4;
  align-self: flex-end;
}
