@use "../../../../styles/variables/index" as *;
@use "../../../../styles/abstracts/index" as *;

.active {
  position: absolute;
  z-index: 3;
  top: 32rem;
  transition: all 800ms ease-out;
}

.hidden {
  position: absolute;
  z-index: 3;
  top: 0rem;
  transition: all 800ms ease-in;
}

.table {
  background-color: rgba($color-primary-2, 1);
  padding: 1rem $spacing-xs $spacing-xs $spacing-xs;
  font-size: $font-size-s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  .purchasing,
  .quantity,
  .price,
  .details {
    display: flex;
    color: $color-primary-3;
  }
}

.purchasing {
  justify-content: space-between;
}

.quantity,
.price {
  flex-direction: column;
}

.details {
  flex-direction: row;
  gap: 2rem;
}
